<% layout('layouts/boilerplate') %>
<div class="container-xxl position-relative bg-white d-flex p-0">
  <%- include('../partials/spinner') %> <%- include('../partials/sidebar') %>

  <!-- Content Start -->
  <div class="content">
    <%- include('../partials/navbar') %>
    <div class="container">
      <h1 class="display-4">This is form for Add Category</h1>

      <form action="/category/new" method="POST">
        <div class="mb-3">
          <label for="name" class="form-label">Category</label>
          <input type="text" class="form-control" id="name" name="name" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

      <% category.forEach((item) => { %>
      <ul class="list-group mt-3">
        <li class="list-group-item"><%= item.name %></li>
      </ul>
      <% }) %>
    </div>
  </div>
</div>    <!-- Widgets End -->
<%- include('../partials/footer') %>

<!-- Content End -->
</div>
</div>
