<% layout('layouts/boilerplate') %>
<div class="container-scroller">
  <%- include('../partials/_navbar') %>
  <div class="container-fluid page-body-wrapper">
    <%- include('../partials/_settings-panel') %> <%-
    include('../partials/_sidebar') %>
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-12 grid-margin">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Detail Penilaian</h4>
                <form class="form-sample">
                  <p class="card-description">Form</p>
                  <div class="row">
                    <!-- Nama Pegawai -->
                    <div class="col-md-12">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Pegawai</label>
                        <div class="col-sm-9">
                          <input
                            type="text"
                            class="form-control"
                            name="nama"
                            id="nama"
                            value="<%= penilaian.pegawaiID.namaPegawai %>"
                            readonly
                          />
                        </div>
                      </div>
                    </div>
                    <!-- Jabatan -->
                    <div class="col-md-12">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Jabatan</label>
                        <div class="col-sm-9">
                          <input
                            type="text"
                            class="form-control"
                            name="jabatan"
                            id="jabatan"
                            value="<%= pegawai.jabatanID.namaJabatan %>"
                            readonly
                          />
                        </div>
                      </div>
                    </div>
                    <!-- Tanggal -->
                    <div class="col-md-12">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Tanggal</label>
                        <div class="col-sm-9">
                          <input
                            type="text"
                            class="form-control"
                            name="tanggal"
                            id="tanggal"
                            value="<%= penilaian.tanggal %>"
                            readonly
                          />
                        </div>
                      </div>
                    </div>
                    <!-- Bulan Penilaian -->
                    <div class="col-md-12">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label"
                          >Bulan Penilaian</label
                        >
                        <div class="col-sm-9">
                          <input
                            type="text"
                            class="form-control"
                            name="bulan"
                            id="bulan"
                            value="<%= penilaian.bulanPenilaian %>"
                            readonly
                          />
                        </div>
                      </div>
                    </div>
                    <!-- Izin -->
                    <div class="col-md-12">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Izin</label>
                        <div class="col-sm-9">
                          <input
                            type="number"
                            class="form-control"
                            name="izin"
                            id="izin"
                            value="<%= penilaian.izin %>"
                            readonly
                          />
                        </div>
                      </div>
                    </div>
                    <!-- Tanpa Izin -->
                    <div class="col-md-12">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label"
                          >Tanpa Izin</label
                        >
                        <div class="col-sm-9">
                          <input
                            type="number"
                            class="form-control"
                            name="tanpaIzin"
                            id="tanpaIzin"
                            value="<%= penilaian.tanpaIzin %>"
                            readonly
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr />
                  <p class="card-description">Detail Penilaian</p>
                  <div class="table-responsive" id="detail_penilaian">
                    <table class="table table-bordered table-hover">
                      <thead class="thead-light">
                        <tr>
                          <th class="text-center">NO</th>
                          <th class="text-center">Kriteria</th>
                          <th class="text-center">Sub-Kriteria</th>
                          <th class="text-center">Dokumen Bukti</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% for (let i = 0; i < kategori.length; i++) { %>
                        <tr>
                          <td class="text-center"><%= i + 1 %></td>
                          <td><%= kategori[i].name %></td>
                          <td>
                            <% for (let j = 0; j < kategori[i].subCriterias.length; j++) { %>
                              <ul>
                                <p><%= kategori[i].subCriterias[j] %></p>
                                <input class="form-control" type="number" name="subCriteria-<%= i%>-<%= j%>" min="0" max="<%= kategori[i].maxValues[j] %>" value="<%= penilaian.criterias[i].subCriteria[j] %>" readonly>
                              </ul>
                            <% } %>
                          </td>
                          <td class="text-left">
                            <% for (let j = 0; j < kategori[i].documents.length; j++) { %>
                              <ul>
                                <b><p><%= kategori[i].documents[j] %></p></b>
                                <% if (penilaian.criterias[i].document[j] != "") { %>
                                <button
                                  type="button"
                                  class="btn btn-primary btn-sm ml-2"
                                  onclick="openPdf('<%= penilaian.criterias[i].document[j] %>')"
                                >
                                  Show PDF
                                </button>
                                <% } else { %>
                                <button
                                  type="button"
                                  class="btn btn-secondary btn-sm ml-2"
                                >
                                  Empty PDF
                                </button>
                                <% } %>
                              </ul>
                            <% } %>
                          </td>
                        </tr>
                        <% } %>
                      </tbody>
                    </table>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- content-wrapper ends -->
      <!-- partial:../../partials/_footer.html -->
      <%- include('../partials/_footer') %>
      <!-- partial -->
    </div>
  </div>
</div>

<script>
  function openPdf(pdfPath) {
    // Membuka file PDF dalam tab baru
    window.open(pdfPath, '_blank');
  }
</script>