<% layout('layouts/boilerplate') %>
<div class="container-scroller">
  <%- include('../partials/_navbar') %>
  <div class="container-fluid page-body-wrapper">
    <%- include('../partials/_settings-panel') %> <%-
    include('../partials/_sidebar') %>
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Hasil Penilaian</h4>
                <div
                  class="d-flex align-items-center justify-content-between mb-3"
                >
                  <div class="d-flex align-items-center">
                    <p class="card-description align-self-center mb-0">
                      Jumlah Penilaian: <code><%= penilaian.length %></code>
                    </p>
                    <button
                      type="button"
                      class="btn btn-primary btn-sm ml-2"
                      data-toggle="modal"
                      data-target="#addPegawaiModal"
                      onclick="window.location.href='/penilaian/new'"
                    >
                      Add Penilaian
                    </button>
                    <button
                      type="button"
                      class="btn btn-success btn-sm ml-2"
                      data-toggle="modal"
                      data-target="#addPegawaiModal"
                      onclick="window.location.href='/penilaian/ranking'"
                    >
                      Show Rangking
                    </button>
                  </div>
                </div>

                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Nama</th>
                        <th>Tanggal</th>
                        <th>Penilaian Bulan</th>
                        <th>Izin</th>
                        <th>Tanpa Izin</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% penilaian.forEach((item, index) => { %>
                      <tr>
                        <td><%= index + 1 %></td>
                        <td><%= item.pegawaiID.namaPegawai %></td>
                        <td><%= item.tanggal %></td>
                        <td><%= item.bulanPenilaian %></td>
                        <td><%= item.izin %></td>
                        <td><%= item.tanpaIzin %></td>
                        <td>
                          <div class="d-flex">
                            <button
                              class="btn badge badge-dark mx-1"
                              type="submit"
                              onclick="window.location.href='/penilaian/<%= item._id %>';"
                            >
                              <span class="badge-dark font-weight-bold">
                                <i data-feather="edit"></i> Detail
                              </span>
                            </button>
                            <form
                              action="/penilaian/delete/<%= item._id %>?_method=DELETE"
                              method="POST"
                            >
                              <button
                                class="btn badge badge-danger"
                                type="submit"
                              >
                                <span class="badge-danger font-weight-bold">
                                  <i data-feather="trash-2"></i> Delete
                                </span>
                              </button>
                            </form>
                          </div>
                        </td>
                      </tr>
                      <% }) %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
      <!-- partial:../../partials/_footer.html -->
      <%- include('../partials/_footer') %>
      <!-- partial -->
    </div>
  </div>
</div>
