<% layout('layouts/boilerplate') %>
<div class="container-scroller">
  <%- include('../partials/_navbar') %>
  <div class="container-fluid page-body-wrapper">
    <%- include('../partials/_settings-panel') %> <%-
    include('../partials/_sidebar') %> <%- include('addPegawai') %>
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-lg-10 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6">
                    <h4 class="card-title">Daftar Pegawai</h4>
                  </div>
                  <div class="col-md-6 text-right">
                    <p class="card-description">
                      Jumlah Pegawai: <%= pegawai.length %>
                    </p>
                  </div>
                </div>
                <div>
                  <button
                    type="button"
                    class="btn btn-primary btn-sm"
                    data-toggle="modal"
                    data-target="#addPegawaiModal"
                  >
                    Add Pegawai
                  </button>
                </div>
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Nama</th>
                        <th>NIP</th>
                        <th>Jabatan</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% pegawai.forEach((pegawai) => { %>
                      <tr>
                        <td><%= pegawai.namaPegawai %></td>
                        <td><%= pegawai.NIP %></td>
                        <td><%= pegawai.jabatanID.namaJabatan %></td>
                        <td>
                          <div class="d-flex">
                            <form
                              action="/pegawai/delete/<%= pegawai._id %>?_method=DELETE"
                              method="POST"
                            >
                              <button
                                class="btn badge badge-dark"
                                type="submit"
                              >
                                <span class="badge-dark font-weight-bold">
                                  <i data-feather="edit"></i> Detail
                                </span>
                              </button>
                            </form>
                            <form
                              action="/pegawai/delete/<%= pegawai._id %>?_method=DELETE"
                              method="POST"
                            >
                              <button
                                class="btn badge badge-warning mx-1"
                                type="submit"
                              >
                                <span class="badge-warning font-weight-bold">
                                  <i data-feather="edit"></i> Edit
                                </span>
                              </button>
                            </form>
                            <form
                              action="/pegawai/delete/<%= pegawai._id %>?_method=DELETE"
                              method="POST"
                            >
                              <button
                                class="btn badge badge-danger"
                                type="submit"
                              >
                                <span class="badge-danger font-weight-bold">
                                  <i data-feather="trash-2"></i> Delete
                                </span>
                              </button>
                            </form>
                          </div>
                        </td>
                      </tr>
                      <% }) %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- content-wrapper ends -->
      <!-- partial:../../partials/_footer.html -->
      <%- include('../partials/_footer') %>
      <!-- partial -->
    </div>
  </div>
</div>
