<% layout('layouts/boilerplate') %>
<div class="container-scroller">
  <%- include('../partials/_navbar') %>
  <div class="container-fluid page-body-wrapper">
    <%- include('../partials/_settings-panel') %> <%-
    include('../partials/_sidebar') %> <%- include('addPegawai') %> <%-
    include('editPegawai') %>
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-lg-10 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6">
                    <h4 class="card-title">Daftar Pegawai</h4>
                  </div>
                  <div class="col-md-6 text-right">
                    <p class="card-description">
                      Jumlah Pegawai: <%= pegawai.length %>
                    </p>
                  </div>
                </div>
                <div>
                  <button
                    type="button"
                    class="btn btn-primary btn-sm"
                    data-toggle="modal"
                    data-target="#addPegawaiModal"
                  >
                    Add Pegawai
                  </button>
                </div>
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Nama</th>
                        <th>NIP</th>
                        <th>Jabatan</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% pegawai.forEach((pegawai) => { %>
                      <tr>
                        <td><%= pegawai.namaPegawai %></td>
                        <td><%= pegawai.NIP %></td>
                        <td><%= pegawai.jabatanID.namaJabatan %></td>
                        <td>
                          <div class="d-flex">
                            <button
                              class="btn badge badge-warning mx-1 edit-pegawai"
                              type="button"
                              data-toggle="modal"
                              data-target="#editPegawaiModal"
                              data-id="<%= pegawai._id %>"
                              data-nip="<%= pegawai.NIP %>"
                              data-nama="<%= pegawai.namaPegawai %>"
                              data-jabatanid="<%= pegawai.jabatanID %>"
                            >
                              <span class="badge-warning font-weight-bold">
                                <i data-feather="edit"></i> Edit
                              </span>
                            </button>

                            <% if (unusedPegawai.includes(pegawai._id)) { %>
                              <div>
                                <button class="btn badge badge-danger font-weight-bold" type="button" data-toggle="modal" data-target="#deleteModal<%= pegawai._id %>">
                                    <i data-feather="trash-2"></i> Delete
                                </button>
                              </div>
                            <% } else { %>
                              <div>
                                <button class="btn badge badge-secondary font-weight-bold" type="button">
                                    <i data-feather="trash-2"></i> Used
                                </button>
                              </div>
                            <% } %>

                            <!-- Modal Delete -->
                            <div class="modal fade" id="deleteModal<%= pegawai._id %>" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteModalLabel">Konfirmasi Penghapusan</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Apakah Anda yakin ingin menghapus data pegawai <%= pegawai.namaPegawai %>?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                            <form action="/pegawai/delete/<%= pegawai._id %>?_method=DELETE" method="POST">
                                                <button type="submit" class="btn btn-danger">Delete</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <% }) %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
      <!-- partial:../../partials/_footer.html -->
      <%- include('../partials/_footer') %>
      <!-- partial -->
    </div>
  </div>
</div>